/* Variables */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Global*/

body {
    margin: 0;
}

$font-header: 'Montserrat', sans-serif;
$font-text: 'Raleway', serif;

p {
 font-family: $font-text;
 font-size: 15px;
 line-height: 25px;
 color: #8a9599;
 font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
}

/*Navbar*/

.first {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
    margin: 0;
}
.navigation {
    align-items: center;
}

.nav {
    text-align: right;
}

.first::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("https://images.pexels.com/photos/3319333/pexels-photo-3319333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
    content: "";
    z-index: -1;
}

.navbar-brand {
    font: 400 28px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #22656D;
    text-shadow: 4px 4px 0px rgba(80, 76, 76, 0.445);
    margin: 0;
    padding: 0;
    text-align: right;

}

.navigation {
    padding: 30px;
}

.navigation a {
    text-decoration: none;
    color: #3D3D3E;
    font-size: 15px;
    font-family: $font-header;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
    padding: 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
}

/*Splash*/

.splash {
    min-height: 610px;
    display: flex;
}

.splash-inner {
    margin: auto;
    text-align: center;
}

.splash-inner h1, h2 {
    color: black;
}

.splash-inner h1 {
    font-family: $font-header;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 70px;
}
.splash-inner h2 {
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    font-family: $font-text;
}

.btn {
    background-color: #22656D;
    border: none;
    color: white;
    padding: 28px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    min-height: 80px;
    min-width: 250px;
    font-family: $font-header;
}

/*Services*/

.services {
    display: flex;
    min-height: 580px;
}

.title h2 {
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.services2 {
    padding-top: 40px;
}

.services p {
    margin: 0;
}

.title, .icons {
    margin: auto;
    text-align: center;
}

i.fa {
    margin: 0.5em;
    color: #197278;
    border: 2px solid #197278;
    border-radius: 50%;
    padding: 0.5em;
    transition: all .5s ease;
    font-size: 30px;
}

/*Portfolio*/


.three-back {
    background: #E9F1F3;
}

.three {
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio {
    padding-top: 50px;
}

.card {
    background: white;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
}

.card-img {
    flex: 1;
}

.margin-b {
    margin-bottom: 20px;
}

/*Footer*/

.footer {
    min-height: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer h6 {
    margin: 0;
    font-size: 15px;
}

 .footer h6, i {
    font-family: $font-text;
 }

 .footer i {
    font-size: 30px;
    color: #22656D;
 }

 .buttons ul {
    display: inline-block;
 }

 ul .i {
    transform: translate(-50%);
 }
/*RWD*/

 @media (max-width: 758px) {
    .footer {
        text-align: center;
    }
    .footer h6 {
        padding-bottom: 20px;
    }
    .services {
        padding-top: 40px;
        padding-bottom: 40px;
    }
 }